/* [data-ahx-slot="sidebar"] {
  --css-rule-source: rule;
  --data-key: "%AUG_ID%";
  --data-href: "%NAV_URL%";
  --data-text: "Marketplace";
} */

/* Insert a link to the marketplace into a panel in the ref app */
[ahx-host~="ref"] [ahx-slot-name="addon-links"]::after {
  --ahx-trigger: load once;
  --ahx-get: url("link.html");
  --ahx-swap: inner;
}

/* When we are on a full page view of the addon */
[ahx-url-path^="%NAV_PATH%"] {
  /* Indicate that the marketplace is active via an attribute on the html element */
  --ahx-trigger: load once;
  --ahx-harvest: "%ID%";
  --ahx-swap: attr "ahx-data-addons" join;

  /* Import additional stylesheets for the marketplace */
  --ahx-import: url("style.css") url("ref.css");
}

/* To prevent a flash of unstyled content, hide the marketplace until its stylesheet has loaded */
[ahx-url-path^="%NAV_PATH%"] .marketplace-container {
  opacity: 0;
}

/*
[data-host-app="gitlab"] [data-testid="user-dropdown"] ul:has([data-testid="preferences-item"])::after {
  --hx-get: url("gitlab-menu-item.html");
  --hx-trigger: load once;
  --class: --append() gl-new-dropdown-item;
}

[data-url-path^="%NAV_PATH%"][data-host-app="ref"] {
  --css-rule-source: rule;
  --data-addons: --append() "%ID%";
  --css-rule-import-style: url("style.css");
  --css-rule-import-ref: url("ref.css");
}

[data-url-path^="%NAV_PATH%"][data-host-app="gitlab"] {
  --css-rule-source: rule;
  --data-addons: --append() "%ID%";
  --css-rule-import-style: url("style.css");
  --css-rule-import-gitlab: url("gitlab.css");
}

[data-url-path^="%NAV_PATH%"][data-host-app="backstage"] {
  --css-rule-source: rule;
  --data-addons: --append() "%ID%";
  --css-rule-import-style: url("style.css");
  --css-rule-import-backstage: url("backstage.css");
} */
